/* Links */
.icon,
.icon:focus,
.icon:hover {
  color: #fff;
}
    
/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  overflow-x:hidden;
}
body {
  color: darkslategrey;  
  text-align: center;
}
p{
    color: darkslategrey;
}
h1{
    color:black;
    margin-top: 0;
}
h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}
.jumbotron {
	background: #1f8deb;
	color: white;
	text-align: center;
    text-shadow: 1px 1px 2px black;
    min-height: 100%;
    margin-bottom: 0;
}
.title-text{
    padding-top: 40vh;    
}

delay-1{
    animation-delay: .25s;
}
.delay-2{
    animation-delay: .5s;
}
.delay-3{
    animation-delay: .75s;
}

#aboutMe{
    margin-top: 0;
    margin-bottom: 0;
    background-color: #fff;
}

.header{
    color: dimgray;
}
.icon{
    font-size: 64px;
    margin: 10px;
    transition: all 0.2s ease;

}

.icon:hover {
    color:grey;
    transform: translateY(-3px);
}


.scrollDown{
    font-size: 32px;
    transition: all 0.2s ease;

}
.scrollDown:hover{
    transform: translateY(-3px);
    color:grey;

}
.container{
    height: 100%;
    border-collapse: collapse;
}

.altBackground{
    background-color: #F3F9FE; 
    padding-top: 32px;
}
#headshot{
    width: 50%;
    border-radius: 200px;
}
#aboutMeContainer{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.project{
    padding: 1em;
}
.projectImg{
    border-radius: 10px;
    width: 80%;
    height: auto;
    box-shadow: 2px 2px 3px dimgrey;
}
