/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  overflow-x:hidden;
}
body {
  color: #fff;  
  text-align: center;
}
p{
    color: darkslategrey;
}
h1{
    color:black;
}
.jumbotron {
	background: #1f8deb;
	color: white;
	text-align: center;
    text-shadow: 1px 1px 2px black;
    min-height: 100%;
    margin-bottom: 0;
}
.title-text{
    padding-top: 40vh;    
}

delay-1{
    animation-delay: .25s;
}
.delay-2{
    animation-delay: .5s;
}
.delay-3{
    animation-delay: .75s;
}

#aboutMe{
    margin-top: 0;
    margin-bottom: 0;
    background-color: azure;
}

.header{
    color: dimgray;
}
.icon{
    font-size: 64px;
    margin: 10px;
    transition: all 0.2s ease;

}

.icon:hover {
    color:grey;
    transform: translateY(-3px);
}


.scrollDown{
    font-size: 32px;
    transition: all 0.2s ease;

}
.scrollDown:hover{
    transform: translateY(-3px);
    color:grey;

}
.container{
    height: 100%;
    border-collapse: collapse;
}
#headshot{
    height: 256px;
    width: 256px;
    border-radius: 200px;
}
#aboutMeContainer{
padding-top: 10vh;
padding-bottom: 10vh;
}